{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Prédiction du prix de la maison</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>      

    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'main_app/style.css' %}">
</head>

<body>
    <div class="container">
        <div class="image-container">
            <img src="{% static 'img/home.png' %}" alt="Maison">
        </div>
        <div class="form-container">
            <div class="form">
                <form action="{% url 'predict' %}" method="post">
                    {% csrf_token %}
                    <h2>Estimation du Prix de la Maison</h2>
                    <p>Découvrez la valeur approximative de votre propriété en remplissant ce formulaire.</p>
                    <div class="grille">
                        <div class="form-column">
                            {% for field in fields_group1 %}
                                <div class="form-element">
                                    {{ field.label_tag}} 
                                    {{ field}}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-column">
                            {% for field in fields_group2 %}
                                <div class="form-element">
                                    {{ field.label_tag}} 
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </div>                     
                    </div>
                    <div class="bouton">
                        <input type="submit" value="Prédire" class="submit">
                    </div>
                </form>
            </div>
            
            <div class="reponse">
                <p>La maison vaut : {{ data }} $</p>
           </div>
        </div>
    </div>
</body>

</html>